.menu{
  padding: 20px 20px;
  width: 100%;
  z-index: 500;
  text-align: center;
  position: fixed;
  background: linear-gradient(90deg,#000000f6,#0075fc);
  opacity: 0.9;

}
.menuItem{
  margin: 20px 20px;
  color: white;
  font-weight:600;
  font-size: 1.2rem;
}
.menuItem:hover{
  color: red;
  text-decoration: none;
}

